html {
	font-size: 62.5%;
}
body {
	@include zero;
	background-color: $mainbgr;
}
.main-cont {
	width: $cont;
	height: 108rem;
	@include zero;
	@include lrauto;
	background-color: #fff;
	padding: 0;
	@include mainshadow;
	.slider-frame {
		width: $cont;
		height: 81.5rem;
		@include zero;
		background-color: green;
		.slider-display {
			width: $cont;
			height: 60rem;
			@include zero;
			background-color: blue;
			position: relative;
			#slid-img-chan {
				display: block;
				@include zero;
				position: relative;
				z-index: 85;
				top: 0;
				left: 0;
				overflow: hidden;
				.display-img {
					margin: 0;
					display: block;
					position: relative;
					left: 0;
					right: 0;
					z-index: 90;
				}
			}
		}
	}
}
.slider-nav {
	width: $cont;
	height: 21.5rem;
	margin: 0;
	padding-top: 1.8rem;
	padding-left: 1.8rem;
	background-color: #fff;
	box-sizing: border-box;
	.thumb {
		width: 17.9rem;
		height: 17.9rem;
		background-color: #fff;
		display: inline-block;
		margin-right: 0;
		padding: 0;
		overflow: hidden;
	}
	.left-mar {
		margin-left: 1.8rem;
	}
}
.previous-next-bar {
	position: absolute;
	z-index: 100;
	top: 0;
	width: 10rem;
	height: 60rem;
}
.previous {
	left: 0;
	background-color: rgba(0,0,0,0.2);
	@include fading;
	&:hover {
		cursor: pointer;
		background-color: rgba(0,0,0,0.3);
		font-size: 6.6rem;
		@include fading;
	}
}
.next {
	right: 0;
}
.fa-chevron-right {
	@include forchevron;
	@include fading;
}
.chevron-hover:hover {
	cursor: pointer;
	@include fading;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
}
.fa-chevron-left {
	@include forchevron;
	@include fading;
}
a {
	text-align: center;
}
.thumb-img {
	display: block;
	width: 17.9rem;
	height: 17.9rem;
	margin: 0;
	border-radius: 100%;
	&:hover {
		cursor: pointer;
	}
}
#slid-img-chan ul {
	position: relative;
	display: block;
	height: 60rem;
	@include zero;
	list-style: none;
	#slid-img-chan li {
		display: block;
		width: $cont;
		height: 60rem;
		@include zero;
		float: left;
		position: relative;
	}
}
#myOwnSlider li {
	display: block;
	width: $cont;
	height: 60rem;
	@include zero;
	float: left;
	position: relative;
}
