@mixin zero() {
	margin: 0;
	padding: 0;
}
@mixin lrauto() {
	margin-left: auto;
	margin-right: auto;
}
@mixin mainshadow() {
	-webkit-box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.6);
}
@mixin fading() {
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
}
@mixin forchevron() {
	color: $mainbgr;
	text-align: center;
	font-size: 6rem;
	display: block;
	width: 10rem;
	height: 34rem;
	background-color: rgba(0,0,0,0.2);
	padding-top: 26rem;
}